<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome to Maybuck.</h1>
  <ul>
    <% data.forEach(function(item) { %>
      <li>
        <a href="/detail?id=<%= item.id %>"><%= item.name %></a>
        <form action="/delete" method="POST" style="display: inline;">
      <input type="hidden" name="id" value="<%= item.id %>">
      <button type="submit" class="delete-btn">Delete</button>
    </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>