<!DOCTYPE html>
<html>
<head>
    <title>React App Demo_Maybucks</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>
<div id="root"></div>

<script type="text/babel">
    function Home(props) {
      return (
        <div>
          <h1>Welcome to Maybucks.</h1>
          <ul>
            {props.data.map(item => (
              <li key={item.id}>
                <a href={`/detail?id=${item.id}`}>{item.name}</a>
                <form action="/delete" method="POST" style={{display: 'inline'}}>
                  <input type="hidden" name="id" value={item.id} />
                  <button type="submit" className="delete-btn">Delete</button>
                </form>
              </li>
            ))}
          </ul>
        </div>
      );
    }

    const items = <%- items %>;

    ReactDOM.render(<Home data={items} />, document.getElementById('root'));
</script>
</body>
</html>
